# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Cursos\EjercicioAsbractos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
